@use "_resets";

$colors: (
  red: #ea5353,
  cyan: #45d3d3,
  orange: #fcaf4a,
  blue: #549ef2,
);
$very-dark-blue: #4c4e61;
$grayish-blue: #a3a5ae;
$very-light-gray: #fafafa;

$card-width: 20.8em;

body {
  font: 0.9375rem "Poppins", sans-serif;
  color: $grayish-blue;
  padding: 2.15em 0.4em;
  background: $very-light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  opacity: 95%;
  text-align: center;
  margin: 4em 0;

  h1 {
    font-weight: 200;
    font-size: 1.6rem;
  }

  .bold {
    margin: 0.25em 0 0.75em;
    display: block;
    font-weight: 600;
  }

  p {
    font-size: 1.05rem;
    line-height: 1.5em;
    max-width: 30em;
  }
}

.cards {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.75em;
  padding: 2em 1.75em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0.2em 0.5em 12px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.3rem;
  }

  p {
    margin-top: 0.75em;
    line-height: 1.4em;
  }

  img {
    width: 3.7em;
    margin-left: auto;
    margin-top: 1.8em;
  }
}

.colored-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.225em;
  width: 110%;
  background-color: blue;
}

@each $color, $hex-code in $colors {
  .#{$color}-line {
    background-color: $hex-code;
  }
}

.bold,
h2 {
  color: $very-dark-blue;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (min-width: 22.5rem) {
  body {
    padding: 2.15em;
  }

  .card {
    width: $card-width;
  }
}

@media only screen and (min-width: 43rem) {
  .card-group {
    display: flex;
    gap: 2em;
  }
}

@media only screen and (min-width: 68rem) {
  .cards {
    flex-direction: row;
    gap: 2em;
  }

  .card-group {
    display: block;
  }

  .card {
    width: $card-width * 1.05;
  }
}
